USE [InventoryManagement]
GO
/****** Object:  Table [dbo].[NewAdmin]    Script Date: 03/18/2017 16:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewAdmin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_first_name] [nvarchar](50) NOT NULL,
	[admin_last_name] [nvarchar](50) NOT NULL,
	[admin_username] [nvarchar](50) NOT NULL,
	[admin_password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NewAdmin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 03/18/2017 16:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inventory](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [varchar](50) NOT NULL,
	[item_total_quantity] [int] NOT NULL,
	[item_status] [varchar](50) NOT NULL,
	[item_used_quantity] [int] NOT NULL,
	[item_balance_quantity] [int] NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
